:root[tabsintitlebar]:not([inFullscreen]) #titlebar toolbarbutton.titlebar-button.titlebar-close,
:root[tabsintitlebar]:not([inFullscreen]) #titlebar toolbarbutton.titlebar-button.titlebar-max,
:root[tabsintitlebar]:not([inFullscreen]) #titlebar toolbarbutton.titlebar-button.titlebar-restore,
:root[tabsintitlebar]:not([inFullscreen]) #titlebar toolbarbutton.titlebar-button.titlebar-min {
    background-color: transparent !important;
    border-radius: 5px !important;
    padding: 0 !important;
    margin: 1px !important;
    transition-duration: 200ms !important;
    transition-timing-function: ease-out !important;
}

:root[tabsintitlebar] #titlebar toolbarbutton.titlebar-button,
:root[tabsintitlebar]:not([inFullscreen]) #titlebar toolbarbutton {
    width: 28px !important;
    height: 28px !important;
}

:root[tabsintitlebar]:not([inFullscreen]) #titlebar toolbarbutton.titlebar-button:hover {
    background-color: rgb(60, 60, 60) !important;
}

:root[tabsintitlebar]:not([inFullscreen]) #titlebar toolbarbutton.titlebar-button.titlebar-close:hover {
    background-color: rgb(173, 44, 44) !important;
}
