:root[tabsintitlebar]:not([inFullscreen]) #titlebar .titlebar-buttonbox {
    background-color: rgb(68, 68, 68) !important;
    border-radius: 5px !important;
}

:root[tabsintitlebar]:not([inFullscreen]) #titlebar toolbarbutton.titlebar-button.titlebar-close,
:root[tabsintitlebar]:not([inFullscreen]) #titlebar toolbarbutton.titlebar-button.titlebar-max,
:root[tabsintitlebar]:not([inFullscreen]) #titlebar toolbarbutton.titlebar-button.titlebar-restore,
:root[tabsintitlebar]:not([inFullscreen]) #titlebar toolbarbutton.titlebar-button.titlebar-min {
    background-color: transparent !important;
    border-radius: 5px !important;
    padding: 0 !important;
    margin: 0 !important;
    transition-duration: 100ms !important;
    transition-timing-function: ease-out !important;
}

:root[tabsintitlebar] #titlebar toolbarbutton.titlebar-button,
:root[tabsintitlebar]:not([inFullscreen]) #titlebar toolbarbutton {
    width: 32px !important;
    height: 32px !important;
}

:root[tabsintitlebar]:not([inFullscreen]) #titlebar toolbarbutton.titlebar-button:hover {
    background-color: rgb(100, 100, 100) !important;
}

:root[tabsintitlebar]:not([inFullscreen]) #titlebar toolbarbutton.titlebar-button.titlebar-close:hover {
    background-color: rgb(173, 44, 44) !important;
}
