:root {
    --titlebar-button-background-light: rgb(212, 212, 212);
    --titlebar-button-background-dark: rgb(100, 100, 100);

    --titlebar-close-background-light: var(--gnome-palette-red-3);
    --titlebar-close-background-dark: rgb(173, 44, 44);

    --titlebar-button-background: var(--titlebar-button-background-light);
    --titlebar-close-background: var(--titlebar-close-background-light);
}
@media (prefers-color-scheme: dark) {
    :root {
        --titlebar-button-background: var(--titlebar-button-background-dark);
        --titlebar-close-background: var(--titlebar-close-background-dark);
    }
}

:root[tabsintitlebar]:not([inFullscreen]) #titlebar .titlebar-buttonbox {
    background-color: var(--gnome-tabbar-tab-active-background) !important;
    border-radius: 5px !important;
}

:root[tabsintitlebar] #titlebar toolbarbutton.titlebar-button,
:root[tabsintitlebar]:not([inFullscreen]) #titlebar toolbarbutton {
    width: 32px !important;
    height: 32px !important;
}

:root[tabsintitlebar]:not([inFullscreen]) #titlebar toolbarbutton.titlebar-button {
    &.titlebar-close,
    &.titlebar-max,
    &.titlebar-restore,
    &.titlebar-min {
        background-color: transparent !important;
        border-radius: 5px !important;
        padding: 0 !important;
        margin: 0 !important;
        transition-duration: 100ms !important;
        transition-timing-function: ease-out !important;
    }

    &:hover {
        background: var(--titlebar-button-background) !important;
    }

    &.titlebar-close:hover {
        background-color: var(--titlebar-close-background) !important;
    
        & > .toolbarbutton-icon {
            fill: white !important;
        }
    }
}
