:root {
    /* Keep these colors synced between userContent.css and userChrome.css */
    --adil192-background: #cbddad;
    --adil192-surface: #e8faca;
    --adil192-foreground: #101010;
    --adil192-foreground-inactive: #292b1f;
    @media (-moz-content-prefers-color-scheme: dark) {
        --adil192-background: #0c1106 !important;
        --adil192-surface: #181d11 !important;
        --adil192-foreground: #d3dace !important;
        --adil192-foreground-inactive: #aab8a1 !important;
    }
}

@-moz-document url-prefix("about:") {
    :root {
        /* background of new tab page */
        --newtab-background-color: var(--adil192-background) !important;
        /* background of search bar inside new tab page */
        --newtab-background-color-secondary: var(--adil192-surface) !important;
        --text-color: var(--adil192-foreground) !important;
        /* toolbar contains search bar in about:preferences */
        --toolbar-bgcolor: var(--adil192-surface) !important;
        --background-color-box: var(--adil192-surface) !important;
        --background-color-canvas: var(--adil192-background) !important;
        --promo-background-color: var(--adil192-surface) !important;
        --table-row-background-color-alternate: var(--adil192-surface) !important;
    }
    html, body {
        /* set default (non-important) background if unspecified */
        background-color: var(--adil192-background);
        color: var(--adil192-foreground);
    }
}

@-moz-document url-prefix("about:"),
               domain("mozilla.org"),
               domain("thunderbird.net") {
    :root {
        --color-white: hsl(90 100% 99.6%) !important;
        --color-gray-05: hsl(90 9.1% 97.8%) !important;
        --color-gray-10: hsl(90 14.3% 95.9%) !important;
        --color-gray-20: hsl(90 13.2% 89.6%) !important;
        --color-gray-30: hsl(90 14% 83.1%) !important;
        --color-gray-40: hsl(90 14% 64.9%) !important;
        --color-gray-50: hsl(90 14% 46.1%) !important;
        --color-gray-60: hsl(90 26% 33.9%) !important;
        --color-gray-70: hsl(90 25.8% 19%) !important;
        --color-gray-80: hsl(90 26.1% 9%) !important;
        --color-gray-90: hsl(90 47.8% 4.5%) !important;
        --color-black: hsl(90 100% 0.4%) !important;
        --ink-10: hsl(110 47.4% 96.3%) !important;
        --ink-20: hsl(110 36.6% 92%) !important;
        --ink-30: hsl(110 31.6% 85.1%) !important;
        --ink-40: hsl(110 24.2% 68.4%) !important;
        --ink-50: hsl(110 18.4% 52%) !important;
        --ink-60: hsl(110 21.6% 40%) !important;
        --ink-70: hsl(110 26.4% 32%) !important;
        --ink-80: hsl(110 30.4% 22.5%) !important;
        --ink-90: hsl(110 40% 15.7%) !important;
    }
}
