:root {
    /* Keep these colors synced between userContent.css and userChrome.css */
    --adil192-background: #d2dfbd;
    --adil192-surface: #e4f1cf;
    --adil192-foreground: #101010;
    --adil192-foreground-inactive: #292b1f;
    @media (-moz-content-prefers-color-scheme: dark) {
        --adil192-background: #0c1106 !important;
        --adil192-surface: #181d11 !important;
        --adil192-foreground: #d3dace !important;
        --adil192-foreground-inactive: #aab8a1 !important;
    }
}

@-moz-document url-prefix("about:") {
    :root {
        /* background of new tab page */
        --newtab-background-color: var(--adil192-background) !important;
        /* background of search bar inside new tab page */
        --newtab-background-color-secondary: var(--adil192-surface) !important;
        --text-color: var(--adil192-foreground) !important;
        /* toolbar contains search bar in about:preferences */
        --toolbar-bgcolor: var(--adil192-surface) !important;
        --background-color-box: var(--adil192-surface) !important;
        --background-color-canvas: var(--adil192-background) !important;
        --promo-background-color: var(--adil192-surface) !important;
        --table-row-background-color-alternate: var(--adil192-surface) !important;
    }
    html, body {
        /* set default (non-important) background if unspecified */
        background-color: var(--adil192-background);
        color: var(--adil192-foreground);
    }
}

@-moz-document url-prefix("about:") {
    :root {
        --color-white: hsl(90 100% 99.6%) !important;
        --color-gray-05: hsl(90 14% 97.8%) !important;
        --color-gray-10: hsl(90 14% 95.9%) !important;
        --color-gray-20: hsl(90 14% 89.6%) !important;
        --color-gray-30: hsl(90 14% 83.1%) !important;
        --color-gray-40: hsl(90 14% 64.9%) !important;
        --color-gray-50: hsl(90 14% 46.1%) !important;
        --color-gray-60: hsl(90 14% 33.9%) !important;
        --color-gray-70: hsl(90 14% 19%) !important;
        --color-gray-80: hsl(90 14% 9%) !important;
        --color-gray-90: hsl(90 14% 4.5%) !important;
        --color-black: hsl(90 100% 0.4%) !important;
    }
}
@-moz-document domain("thunderbird.net") {
    :root {
        --gray-05: hsl(90 14% 97.8%) !important;
        --gray-10: hsl(90 14% 95.9%) !important;
        --gray-20: hsl(90 14% 89.6%) !important;
        --gray-30: hsl(90 14% 83.1%) !important;
        --gray-40: hsl(90 14% 64.9%) !important;
        --gray-50: hsl(90 14% 46.1%) !important;
        --gray-60: hsl(90 14% 33.9%) !important;
        --gray-70: hsl(90 14% 19%) !important;
        --gray-80: hsl(90 14% 9%) !important;
        --gray-90: hsl(90 14% 4.5%) !important;
        --ink-10: hsl(110 47.4% 96.3%) !important;
        --ink-20: hsl(110 36.6% 92%) !important;
        --ink-30: hsl(110 31.6% 85.1%) !important;
        --ink-40: hsl(110 24.2% 68.4%) !important;
        --ink-50: hsl(110 18.4% 52%) !important;
        --ink-60: hsl(110 21.6% 40%) !important;
        --ink-70: hsl(110 26.4% 32%) !important;
        --ink-80: hsl(110 30.4% 22.5%) !important;
        --ink-90: hsl(110 40% 15.7%) !important;
    }
    [data-channel] {
        --bg-gradient-hsl-values: 90 97.5% 52%;
        --bg-gradient2-hsl-values: 130 97.5% 52%;
        --bg-gradient:
            linear-gradient(
                to top right,
                hsl(var(--bg-gradient-hsl-values) / 0.1) 0%,
                hsl(var(--bg-gradient-hsl-values) / 0) 33%,
                hsl(var(--bg-gradient-hsl-values) / 0) 67%,
                hsl(var(--bg-gradient-hsl-values) / 0.1) 100%
            ),
            linear-gradient(
                to right,
                hsl(var(--bg-gradient2-hsl-values) / 0.05) 0%,
                hsl(var(--bg-gradient2-hsl-values) / 0) 30%,
                hsl(var(--bg-gradient2-hsl-values) / 0.05) 100%
            ) !important;
        --text-gradient: linear-gradient(90deg, hsl(90 83.9% 46.3%) 0%, hsl(130 81.3% 55.9%) 100%) !important;
        --button-bg: radial-gradient(ellipse at center, hsl(90 97.2% 80% / 0.25) 0%, transparent 70%) !important;
    }
    @media (prefers-color-scheme: dark) {
        :root {
            --bg: var(--gray-90) !important;
        }
        [data-channel] {
            --bg-gradient-hsl-values: 90 97.5% 15.7%;
            --bg-gradient2-hsl-values: 130 97.5% 15.7%;
            --button-bg: radial-gradient(ellipse at center, hsl(90 97.2% 15.7% / 0.25) 0%, transparent 70%) !important;
        }
    }
}
@-moz-document domain("developer.mozilla.org") {
    :root {
        --color-gray-90: hsl(90 10% 95.9%) !important;
        --color-gray-80: hsl(90 10% 89.6%) !important;
        --color-gray-60: hsl(90 10% 64.9%) !important;
        --color-gray-40: hsl(90 10% 33.9%) !important;
        --color-gray-20: hsl(90 10% 19%) !important;
        --color-gray-10: hsl(90 10% 9%) !important;
        --color-gray-05: hsl(90 10% 4.5%) !important;
    }
}

@-moz-document domain("youtube.com") {
  html, html[color-version="v2_0"] {
    --yt-spec-frosted-glass-desktop: color(from var(--adil192-background) srgb r g b / 0.8) !important;
    --yt-spec-base-background: var(--adil192-background) !important;
    color-scheme: light dark;
  }
  html, html[color-version="v2_0"],
  html[dark], html[light],
  body,
  #home-container-skeleton,
  #guide-skeleton,
  ytd-masthead.shell,
  #home-chips {
    background-color: var(--adil192-background) !important;
  }
  #guide-content.ytd-app {
    /* sidebar */
    background-color: var(--adil192-surface) !important;
    margin: 0 0 1rem 1rem !important;
    border-radius: 1rem;
  }
  ytd-watch-flexy[full-bleed-player] #full-bleed-container.ytd-watch-flexy {
    /* black bars around video */
    background-color: rgba(0, 0, 0, 0.9) !important;
  }
  #frosted-glass.with-chipbar.ytd-app {
    backdrop-filter: blur(16px) !important;
  }

  .ytp-overlays-container .ytp-paid-content-overlay,
  .ytp-big-mode .ytp-overlays-container .ytp-paid-content-overlay {
    /* I hate accidentally clicking this "Includes paid promotion" message */
    display: none !important;
    pointer-events: none !important;
  }
}
