:root {
    /* background behind tabs, where the minimize/maximize/close buttons are located */
    --toolbox-bgcolor: #cbddad !important;
    --toolbox-textcolor: #101010 !important;
    --toolbox-bgcolor-inactive: #bcc8a9 !important;
    --toolbox-textcolor-inactive: #292b1f !important;
    /* background of toolbar, i.e. where the url bar is located */
    --toolbar-bgcolor: #e8faca !important;
    --toolbar-color: #101010 !important;
    /* background of blank page like about:blank or while a page is loading */
    --tabpanel-background-color: #cbddad !important;

    @media (-moz-content-prefers-color-scheme: dark) {
        --toolbox-bgcolor: #0c1106 !important;
        --toolbox-textcolor: #d3dace !important;
        --toolbox-bgcolor-inactive: #0e100b !important;
        --toolbox-textcolor-inactive: #aab8a1 !important;
        --toolbar-bgcolor: #181d11 !important;
        --toolbar-color: #d3dace !important;
        --tabpanel-background-color: #0c1106 !important;
    }
}

.titlebar-buttonbox {
    --titlebar-button-size: 32px !important;
    --titlebar-button-spacing: 2px !important;
    --titlebar-button-end-spacing: 8px !important;
}

.titlebar-button {
    cursor: pointer !important;

    & > .toolbarbutton-icon {
        border-radius: 5px !important; /* rrect instead of circle buttons */

        @media (-moz-gtk-theme-family: adwaita) or (-moz-gtk-theme-family: yaru) {
            background-color: transparent !important; /* remove unhovered background */
        }
        @media not (-moz-gtk-theme-family: breeze) {
            transition-duration: 0.05s !important; /* down from 0.2s */
        }
    }
    &:hover > .toolbarbutton-icon {
        background-color: color-mix(in srgb, currentColor 15%, transparent) !important; /* same as default but with !important*/
    }
}
