:root {
    /* Keep these colors synced between userContent.css and userChrome.css */
    --adil192-background: #cbddad;
    --adil192-surface: #e8faca;
    --adil192-foreground: #101010;
    --adil192-foreground-inactive: #292b1f;
    @media (-moz-content-prefers-color-scheme: dark) {
        --adil192-background: #0c1106 !important;
        --adil192-surface: #181d11 !important;
        --adil192-foreground: #d3dace !important;
        --adil192-foreground-inactive: #aab8a1 !important;
    }
}

:root {
    /* background behind tabs, where the minimize/maximize/close buttons are located */
    --toolbox-bgcolor: var(--adil192-background) !important;
    --toolbox-textcolor: var(--adil192-foreground) !important;
    --toolbox-bgcolor-inactive: var(--adil192-background) !important;
    --toolbox-textcolor-inactive: var(--adil192-foreground-inactive) !important;
    /* background of toolbar, i.e. where the url bar is located */
    --toolbar-bgcolor: var(--adil192-surface) !important;
    --toolbar-color: var(--adil192-foreground) !important;
    /* background of blank page like about:blank or while a page is loading */
    --tabpanel-background-color: var(--adil192-background) !important;
}

.titlebar-buttonbox {
    --titlebar-button-size: 32px !important;
    --titlebar-button-spacing: 2px !important;
    --titlebar-button-end-spacing: 8px !important;
}

.titlebar-button {
    cursor: pointer !important;

    & > .toolbarbutton-icon {
        border-radius: 5px !important; /* rrect instead of circle buttons */

        @media (-moz-gtk-theme-family: adwaita) or (-moz-gtk-theme-family: yaru) {
            background-color: transparent !important; /* remove unhovered background */
        }
        @media not (-moz-gtk-theme-family: breeze) {
            transition-duration: 0.05s !important; /* down from 0.2s */
        }
    }
    &:hover > .toolbarbutton-icon {
        background-color: color-mix(in srgb, currentColor 15%, transparent) !important; /* same as default but with !important*/
    }
}
