:root {
    --adil192-background-base: #cbddad;
    --adil192-background-on: #101010;
    --adil192-background-inactive-base: #bcc8a9;
    --adil192-background-inactive-on: #292b1f;
    --adil192-surface-base: #e8faca;
    --adil192-surface-on: #101010;
    @media (-moz-content-prefers-color-scheme: dark) {
        --adil192-background-base: #0c1106 !important;
        --adil192-background-on: #d3dace !important;
        --adil192-background-inactive-base: #0e100b !important;
        --adil192-background-inactive-on: #aab8a1 !important;
        --adil192-surface-base: #181d11 !important;
        --adil192-surface-on: #d3dace !important;
    }

    /* background behind tabs, where the minimize/maximize/close buttons are located */
    --toolbox-bgcolor: var(--adil192-background-base) !important;
    --toolbox-textcolor: var(--adil192-background-on) !important;
    --toolbox-bgcolor-inactive: var(--adil192-background-inactive-base) !important;
    --toolbox-textcolor-inactive: var(--adil192-background-inactive-on) !important;
    /* background of toolbar, i.e. where the url bar is located */
    --toolbar-bgcolor: var(--adil192-surface-base) !important;
    --toolbar-color: var(--adil192-background-on) !important;
    /* background of blank page like about:blank or while a page is loading */
    --tabpanel-background-color: var(--adil192-background-base) !important;
}

.titlebar-buttonbox {
    --titlebar-button-size: 32px !important;
    --titlebar-button-spacing: 2px !important;
    --titlebar-button-end-spacing: 8px !important;
}

.titlebar-button {
    cursor: pointer !important;

    & > .toolbarbutton-icon {
        border-radius: 5px !important; /* rrect instead of circle buttons */

        @media (-moz-gtk-theme-family: adwaita) or (-moz-gtk-theme-family: yaru) {
            background-color: transparent !important; /* remove unhovered background */
        }
        @media not (-moz-gtk-theme-family: breeze) {
            transition-duration: 0.05s !important; /* down from 0.2s */
        }
    }
    &:hover > .toolbarbutton-icon {
        background-color: color-mix(in srgb, currentColor 15%, transparent) !important; /* same as default but with !important*/
    }
}
